[project]
name = "wcpan-drive-core"
version = "4.2.0"
description = "asynchronous generic cloud drive library"
authors = [
    {name = "Wei-Cheng Pan", email = "legnaleurc@gmail.com"}
]
license = "MIT"
readme = "README.md"
requires-python = ">=3.12"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Typing :: Typed",
]
dependencies = []

[project.urls]
source = "https://github.com/legnaleurc/wcpan.drive.core"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["wcpan"]
